.app-container {
  margin: 10px 20px;
}

.main-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  align-content: stretch;
  flex-wrap: wrap;
  margin-bottom: 20px;
}